
/*modal*/
.backdrop {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

@media (max-width: 768px) {
    .modal iframe{
        width: 300px;
        /*
        heightは未指定.
        widthも改善余地あり.
        （川村さん相談しよう）
        */
    }
}

.trip-images {
    display: flex;
    flex-wrap: wrap;
}

.trip-images div {
    position: relative;
}

.trip-images .img {
    width: 100%;
    height: 100%;
    z-index: 10;
}

.trip-images .icon {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 15;
    transition: all .5s;
}


@media (min-width: 700px){
    .trip-images img {
        width: 50%;
    }
}